html
  head
    title #{story.title}
    link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    - const createdAt = `${new Date(story.createdAt).toDateString()}    ${new Date(story.createdAt).toLocaleTimeString('en-US')}`;
    - const tagsRegex = /<(?:.|\n)*?>/gm;
    - const storyBody = story.body.replace(tagsRegex,'');      
  body.w-screen.h-screen.overflow-x-hidden
    .flex.items-center.justify-center.bg-gray-100.w-screen.h-screen      
      .bg-white.border.shadow-md.px-4.py-3.rounded-lg.w-96
        .flex.items-center
          img.h-12.w-12.rounded-full(src= story.user.image alt='Profile Picture')
          .ml-2.flex.flex-col
              .text-sm
              span.font-semibold.text-lg.pl-2 #{story.user.displayName}
              span.text-gray-500.text-xs.pl-2 #{createdAt}
        h4.font-bold.text-xl.pt-4.px-2.text-indigo-700.font-medium #{story.title}           
        p.text-gray-800.px-2.py-1.text-base.leading-normal(class='md:leading-relaxed') #{storyBody}